body{
    font-family: 'Poppins', sans-serif; 
}
.name-highlight{
    color: coral;
}
button{
    color:rgb(0, 0, 0);
    background-color:dimgrey ;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}